.game
{
  width: 600px;
  height: 200px;
  border: 1px solid  black;
  margin: auto;
  background-color:lightskyblue;
  overflow: hidden;
}

.gameContainer
{
  width: 100%;
  height: 100%;
  position: relative;
}




#dino
{
  width: 50px;
  height: 50px;
  
  background-image: url(/assets/dino.png);
  background-size: 50px 50px;

  position: relative;
  top: 158px;
}

.jump
{
  animation: jump .5s linear;
}

@keyframes jump
{
  0%
  {
    top: 150px;
  }

  35%
  {
    top: 50px;
  }

  65%
  {
    top: 50px;
  }

  100%
  {
    top: 150px;
  }
}

#cactus
{
  width: 75px;
  height: 75px;

  background-image: url(/assets/cactus.png);
  background-size: 75px 75px;


  position: relative;
  top: 100px;
  left: 660px;

  
}

.cactusMove
{
  animation: cactusMoveAnimation 2.5s linear infinite;
}

@keyframes cactusMoveAnimation
{
  0%
  {
    left: 650px;
  }

  100%
  {
    left: -50px;
  }
}

#bird
{
  width: 50px;
  height: 50px;
  position: relative;
  top: -40px;
  left: 750px;

  background-image: url(/assets/bird.png);
  background-size: 50px 50px;
  
}

.birdMove
{
  animation: birdMove 4.5s linear infinite;
}

@keyframes birdMove
{
  0%
  {
    left: 750px;
  }

  100%
  {
    left: -60px;
  }
}


#scoreText
{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

